<h2>Lista tutorias</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Codigo</th>
            <th>Salon</th>
            <th>Detalles</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ubicacion of ubicaciones">
            <td>{{ubicacion.code}}</td>
            <td>{{ubicacion.salon}}</td>
            <td>{{ubicacion.detalles}}</td>
            <td>
                <button class="btn btn-info btn-sm">Editar</button>
                &nbsp;
                <button class='btn btn-danger btn-sm' (click)="deleteUbicacion(ubicacion.code)" >
                    Delete</button>
            </td>
    </tbody>
</table>